#siteWrapper {
    background-color: #fff;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}

#siteWrapper {
    font-family: "Kameron", Georgia, serif;
    font-weight: 400;
    line-height: 1.6em;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.9em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    color: #404040;
}

.index-section-wrapper {
    position: relative;
}

div,
a,
span,
input {
    font-family: proxima-nova;
}

.voidray-slider-gallery .gallery-navigation {
    border-bottom: 2px solid rgba(34, 49, 58, 0.15);
    position: relative;
    z-index: 3;
    height: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

user agent stylesheet div {
    display: block;
}