@font-face {
    font-family: 'squarespace-ui-font';
    src: url('../fonts/squarespace-ui-font.eot');
    src: url('../fonts/squarespace-ui-font.eot?#iefix') format('embedded-opentype'), url('assets/fonts/squarespace-ui-font.svg#squarespace-ui-font') format('svg'), url('assets/fonts/squarespace-ui-font.woff') format('woff'), url('assets/fonts/squarespace-ui-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}


@font-face {
    font-family: 'squarespace-ui-font';
    src: url('../fonts/squarespace-ui-font.eot');
    src: url('../fonts/squarespace-ui-font.eot?#iefix') format('embedded-opentype'), url('assets/fonts/squarespace-ui-font.svg#squarespace-ui-font') format('svg'), url('assets/fonts/squarespace-ui-font.woff') format('woff'), url('assets/fonts/squarespace-ui-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}





.collection-type-gallery:not(.gallery-design-grid) .arrow.previous-slide:before {
    font-family: 'squarespace-ui-font';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e000";
    text-align: center;
    display: inline-block;
    vertical-align: middle
}

.collection-type-gallery:not(.gallery-design-grid) .arrow.previous-slide:before {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px
}

.collection-type-gallery:not(.gallery-design-grid) .arrow.previous-slide:before {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px
}

.collection-type-gallery:not(.gallery-design-grid) .arrow.next-slide:before {
    font-family: 'squarespace-ui-font';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e003";
    text-align: center;
    display: inline-block;
    vertical-align: middle
}

.collection-type-gallery:not(.gallery-design-grid) .arrow.next-slide:before {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px
}

.collection-type-gallery:not(.gallery-design-grid) .arrow.next-slide:before {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px
}






















/* #siteWrapper {
    background-color: #fff;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}

#siteWrapper {
    font-family: "Kameron", Georgia, serif;
    font-weight: 400;
    line-height: 1.6em;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.9em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    color: #404040;
}

.index-section-wrapper {
    position: relative;
}

div,
a,
span,
input {
    font-family: proxima-nova;
}

.voidray-slider-gallery .gallery-navigation {
    border-bottom: 2px solid rgba(34, 49, 58, 0.15);
    position: relative;
    z-index: 3;
    height: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

user agent stylesheet div {
    display: block;
}

 .gallery-arrows a.next:before {
    content: "\e02d" !important;
} */