
@keyframes dot-expand {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(2);
    opacity: 0; } }

body:not(.sqs-edit-mode) .summary-block-setting-design-carousel {
  display: none !important; }

.voidray-slider-gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px; }
  .voidray-slider-gallery .gallery-container {
    position: relative; }
  .voidray-slider-gallery .gallery-arrows {
    display: block;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 99; }
    .voidray-slider-gallery .gallery-arrows a {
      position: absolute;
      display: block;
      top: 450px;
      margin-top: -20px;
      width: 40px;
      height: 40px;
      font-size: 40px;
      color: rgba(34, 49, 58, 0.5);
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      cursor: pointer; }
      .voidray-slider-gallery .gallery-arrows a.prev {
        left: 0; }
        .voidray-slider-gallery .gallery-arrows a.prev:before {
          content: "\e02c"; }
      .voidray-slider-gallery .gallery-arrows a.next {
        right: 0; }
        .voidray-slider-gallery .gallery-arrows a.next:before {
          content: "\e02d"; }
      .voidray-slider-gallery .gallery-arrows a:before {
        font-family: 'squarespace-ui-font';
        font-style: normal;
        speak: none;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        display: inline-block;
        vertical-align: middle; }
      .voidray-slider-gallery .gallery-arrows a:hover {
        color: #22313a; }
  .voidray-slider-gallery .gallery-navigation {
    border-bottom: 2px solid rgba(34, 49, 58, 0.15);
    position: relative;
    z-index: 3;
    height: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .voidray-slider-gallery .gallery-navigation ul {
      top: 0;
      left: 50%;
      display: block;
      position: absolute;
      list-style-type: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      transform: translateX(0); }
      .voidray-slider-gallery .gallery-navigation ul:after {
        content: "";
        display: block;
        clear: both; }
      .voidray-slider-gallery .gallery-navigation ul li {
        display: inline-block;
        margin: 0;
        padding: 0; }
        .voidray-slider-gallery .gallery-navigation ul li a {
          display: block;
          font-family: proxima-nova;
          font-weight: bold;
          color: rgba(34, 49, 58, 0.25);
          padding: 0 40px;
          height: 60px;
          line-height: 60px;
          white-space: nowrap;
          text-transform: uppercase;
          cursor: pointer;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          .voidray-slider-gallery .gallery-navigation ul li a:hover, .voidray-slider-gallery .gallery-navigation ul li a.active {
            color: #22313a !important; }
    .voidray-slider-gallery .gallery-navigation .dot {
      display: block;
      position: absolute;
      left: 50%;
      top: 100%;
      width: 20px;
      height: 20px;
      background: #672d95;
      border-radius: 50%;
      margin-left: -10px;
      margin-top: -10px; }
      .voidray-slider-gallery .gallery-navigation .dot:after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        border-radius: 50%;
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(0.8);
        border: 3px solid #672d95;
        box-sizing: border-box; }
      .voidray-slider-gallery .gallery-navigation .dot.clicked:after {
        -webkit-animation: dot-expand 0.5s ease;
        -moz-animation: dot-expand 0.5s ease;
        -ms-animation: dot-expand 0.5s ease;
        -o-animation: dot-expand 0.5s ease;
        animation: dot-expand 0.5s ease; }
  .voidray-slider-gallery .gallery-descriptions {
    max-width: 750px;
    margin: 0 auto;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    z-index: 2; }
    .voidray-slider-gallery .gallery-descriptions .gallery-description {
      background: #FFFFFF;
      position: absolute;
      box-sizing: border-box;
      padding: 40px 20px 20px 20px;
      left: 0;
      width: 100%;
      height: 250px;
      text-align: center;
      visibility: hidden;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .voidray-slider-gallery .gallery-descriptions .gallery-description.active {
        visibility: visible;
        opacity: 1; }
      .voidray-slider-gallery .gallery-descriptions .gallery-description h3 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -1px; }
      .voidray-slider-gallery .gallery-descriptions .gallery-description .text {
        font-size: 16px;
        line-height: 24px; }
  .voidray-slider-gallery .gallery-slides {
    display: block;
    position: relative;
    height: 400px;
    overflow: hidden;
    width: 100vw; }
    .voidray-slider-gallery .gallery-slides .slide-container {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 400px;
      white-space: nowrap;
      text-align: left;
      transform: translateX(0);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .voidray-slider-gallery .gallery-slides .slide-container .gallery-slide {
        display: inline-block;
        width: 750px;
        height: 400px; }
        .voidray-slider-gallery .gallery-slides .slide-container .gallery-slide.active .image {
          opacity: 1; }
        .voidray-slider-gallery .gallery-slides .slide-container .gallery-slide .image {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 0.25;
          display: inline-block;
          height: 400px;
          width: 100%;
          max-width: 750px;
          background-position: center center;
          background-size: cover; }

@media screen and (max-width: 750px) {
  .voidray-slider-gallery .gallery-arrows a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5); }
    .voidray-slider-gallery .gallery-arrows a.prev {
      margin-left: 20px; }
    .voidray-slider-gallery .gallery-arrows a.next {
      margin-right: 20px; }
    .voidray-slider-gallery .gallery-arrows a:before {
      color: #22313A;
      font-size: 20px;
      line-height: 40px;
      height: 40px;
      font-weight: bold;
      width: 40px;
      text-align: center; }
    .voidray-slider-gallery .gallery-arrows a:hover {
      background: rgba(255, 255, 255, 0.6); }
  .voidray-slider-gallery .gallery-slides .gallery-slide {
    width: 100%;
    max-width: 100% !important; }
    .voidray-slider-gallery .gallery-slides .gallery-slide.active .image {
      width: 100%; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
